<p id="notice"><%= notice %></p>

<h1>Lab Result</h1>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>Code</th>
      <th>Effective</th>
      <th>Result</th>
      <th>Status</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patient.lab_results.each do |lr| %>
      <tr>
	<td><%= lr.patient %></td>
	<td><%= lr.code %></td>
  <td><%= lr.result %></td>
	<td><%= lr.effective %></td>
	<td><%= lr.status %></td>
	<td><%= link_to 'Show', lr %></td>
	<td><%= link_to 'Edit', edit_patient_lab_result_path(lr) %></td>
	<td><%= link_to 'Destroy', lr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lab Result', new_patient_lab_result_path %>
