<p id="notice"><%= notice %></p>

<h1>Lab Result</h1>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>Lab Result</th>
      <th>Effective</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lab_results.each do |lab_result| %>
      <tr>
	<td><%= lab_result.patient %></td>
	<td><%= labresult.code %></td>
	<td><%= labresult.effective %></td>
	<td><%= labresult.status %></td>
	<td><%= link_to 'Show', lab_result %></td>
	<td><%= link_to 'Edit', edit_lab_result_path(lab_result) %></td>
	<td><%= link_to 'Destroy', lab_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lab Result', new_lab_result_path %>
