<section class="hero is-small is-info">
  <div class="hero-body">
    <p class="title">
      <%= link_to :back, 'aria-label': 'Back to previous page' do %>
        <i class="fa fa-caret-left"></i>
      <% end %>
      Search
    </p>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">Immunizations</h1>

    <div class="notification is-warning is-light">
      Search#query just prints params for now
    </div>
    
    <div class="box">
      <h1>Params</h1>
      <code><%= params.to_s %></code>
    </div>

    <div class="box">
      <h2>Patient Query Return</h2>

      <h3>to string</h3>
      <code><%= @matches.to_s %></code>

      <h3>inspect</h3>
      <code><%# @matches.inspect %></code>

      <h3>class</h3>
      <code><%= @matches.class %></code>

      <h3>length</h3>
      <code><%= @matches.length if @matches.respond_to? :length %></code>

      <h3>first</h3>
      <code><%= @matches.first if @matches.respond_to? :first %></code>
    </div>
  </div>
</section>
