<section class="section">
  <div class="container">
    <%= form_with(model: patient) do |form| %>
      <% if patient.errors.any? %>
        <div class="notification is-danger is-light content">
          <p class="subtitle">
            <%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:
          </p>

          <ul>
            <% patient.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :given, 'Given Name', class: 'label' %>
        <div class="control">
          <%= form.text_field :given, class: 'input', required: true %>
        </div>
      </div>

      <div class="field">
        <%= form.label :family, 'Family Name', class: 'label' %>
        <div class="control">
          <%= form.text_field :family, class: 'input', required: true %>
        </div>
      </div>

      <div class="field">
        <%= form.label :gender, class: 'label' %>
        <div class="control">
          <div class="select">
            <%= form.select :gender, options_for_select(Patient::GENDERS, @patient.gender)  %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= form.label :birth_date, "Date of Birth", class: 'label' %>
        <div class="control">
          <%= form.date_field :birth_date,
           class: 'input',
           placeholder: 'mm/dd/yyyy',
           pattern: '^(1[0-2]|0?[1-9])/(3[01]|[12][0-9]|0?[1-9])/(?:[0-9]{2})?[0-9]{2}$',
           title: 'mm/dd/yyyy',
           oninvalid: 'this.setCustomValidity("Enter date in mm/dd/yyyy format")',
           oninput: 'this.setCustomValidity("")'
          %>
        </div>
      </div>

      <div class="field">
        <%= form.label :phone, class: "label" %>
        <%= form.phone_field :phone, class: "input" %>
      </div>

      <div class="field">
        <%= form.label :email, class: "label" %>
        <%= form.email_field :email, class: "input" %>
      </div>
        
      <div class="field">
        <%= form.label :street_line1, 'Street address, P.O Box, etc.', class: "label" %>
        <%= form.text_field :street_line1, class: "input" %>
        <%= form.label :street_line2, 'Apt, Suite, Unit, Building, Floor, etc.', class: "label" %>
        <%= form.text_field :street_line2, class: "input" %>
      </div>

      <div class="field">
        <%= form.label :city, class: "label" %>
        <%= form.text_field :city, class: "input" %>
      </div>

      <div class="field">
        <%= form.label :state, class: "label" %>
        <%= form.text_field :state, class: "input" %>
      </div>

      <div class="field">
        <%= form.label :zip_code, class: "label" %>
        <%= form.text_field :zip_code, class: "input" %>
      </div>



      <div class="field is-grouped">
        <div class="control">
          <%= form.submit class: 'button is-info' %>
        </div>
        <div class="control">
          <%= link_to 'Cancel', patients_path, class: 'button is-info is-light' %>
        </div>
      </div>
    <% end %>
  </div>
</section>
