<section class="section">
  <div class="container">
    <%= form_with(model: patient) do |form| %>
      <% if patient.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

          <ul>
            <% patient.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label 'Given Name', class: 'label' %>
        <div class="control">
          <%= form.text_field :given, class: 'input', required: true %>
        </div>
      </div>

      <div class="field">
        <%= form.label 'Family Name', class: 'label' %>
        <div class="control">
          <%= form.text_field :family, class: 'input', required: true %>
        </div>
      </div>

      <div class="field">
        <%= form.label :gender, class: 'label' %>
        <div class="control">
          <div class="select">
            <%= form.select :gender, options_for_select(Patient::GENDERS)  %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= form.label :birth_date, class: 'label' %>
        <div class="control">
          <%= form.date_field :birth_date,
           class: 'input',
           placeholder: 'mm/dd/yyyy',
           value: format_date(patient.birth_date),
           pattern: '^(1[0-2]|0?[1-9])/(3[01]|[12][0-9]|0?[1-9])/(?:[0-9]{2})?[0-9]{2}$',
           title: 'mm/dd/yyyy',
           oninvalid: 'this.setCustomValidity("Enter date in mm/dd/yyyy format")',
           oninput: 'this.setCustomValidity("")'
          %>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <%= form.submit class: 'button is-info' %>
        </div>
        <div class="control">
          <%= link_to 'Cancel', patients_path, class: 'button is-info is-light' %>
        </div>
      </div>
    <% end %>
  </div>
</section>
