<p id="notice"><%= notice %></p>
<section class="section">
  <div class="container">
    <div class="notification is-light <%= verified ? 'is-success' : 'is-danger' %>" >
      <span class="icon is-large">
        <i class="fa fa-2x <%= verified ? 'fa-check-circle' : 'fa-exclamation-circle' %>"></i>
      </span>
      <span class="is-size-4"><%= verified ? 'JWS Signature Verified.' : error_message %></span>
    </div>
    <% if patient.nil? %>
      <div>
        <p class="title">No Patient resource in FHIR bundle, displaying VC payload below</p>
        <div class="block">
          <pre><%= JSON.pretty_generate(payload) %></pre>
        </div>
      </div>
    <% else %>
      <div class="content">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <p class="title"><%= patient.full_name %></p>
            </div>
          </div>
        </div>
        <% if patient.gender %>
          <div class="block">
            <span class="has-text-weight-bold mr-2">Gender:</span><span><%= patient.gender %></span>
          </div>
        <% end %>
        <% if patient.birth_date %>
          <div class="block">
            <span class="has-text-weight-bold mr-2">Birth Date:</span><span><%= format_date(patient.birth_date) %></span>
          </div>
        <% end %>
        <% if patient.phone %>
          <div class="block">
            <span class="has-text-weight-bold mr-2">Phone:</span><span><%= number_to_phone(patient.phone) %></span>
          </div>
        <% end %>
        <% if patient.email %>
          <div class="block">
            <span class="has-text-weight-bold mr-2">Email:</span><span><%= patient.email %></span>
          </div>
        <% end %>
        <% unless show_address(patient).empty? %>
          <div class="block">
            <span class="has-text-weight-bold mr-2">Address:</span><span><%= show_address(patient) %></span>
          </div>
        <% end %>
        <div class="level">
          <div class="level-left">
            <% if patient.immunizations.present? %>
              <div class="level-item">
                <p class="title">Immunizations</p>
              </div>
            <% end %>
          </div>
        </div>
        <div class="tile is-ancestor">
          <% patient.immunizations.each do |i| %>
            <div class="tile is-parent">
              <div class="tile is-child box">
                <div class="block">
                  <span class="has-text-weight-bold"><%= i.vaccine.name %></span>
                </div>
                <div class="block">
                  <span class="mr-2 has-text-weight-bold">Date:</span><span><%= format_date(i.occurrence) %></span>
                </div>
                <div class="block">
                  <span class="mr-2 has-text-weight-bold">Lot:</span><span><%= i.lot_number %> </span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="level">
          <div class="level-left">
            <% if patient.lab_results.present? %>
              <div class="level-item">
                <p class="title">Lab Results</p>
              </div>
            <% end %>
          </div>
        </div>
      <div class="tile is-ancestor">
        <% patient.lab_results.each do |i| %>
          <div class="tile is-parent">
            <div class="tile is-child box">
              <div class="block">
                <span class="has-text-weight-bold"><%= i.name %></span>
              </div>
              <div class="block">
                <span class="mr-2 has-text-weight-bold">Result:</span><span class="has-text-weight-bold"><%= i.result_name %></span>
              </div>
              <div class="block">
                <span class="mr-2 has-text-weight-bold">Effective Date:</span><span><%= format_date(i.effective) %></span>
              </div>
              <div class="block">
                <span class="mr-2 has-text-weight-bold">Status:</span><span><%= i.status %> </span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      </div>
    <% end %>
  </div>
</section>