<h1>New Patient</h1>

<%= render 'form', patient: @patient %>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======

<<<<<<< Updated upstream
<<<<<<< Updated upstream
<button><%= link_to 'Demo Data', new_patient_path ({:given => "John", :family => "Doe", :gender => "Male", :phone => "100-000-0000", :email => "john.doe@gmail.com", :birth_date => "01/01/1990"}) %></button>
<%= link_to 'Back', patients_path %>
=======
>>>>>>> 8b9ff17 (rebase)
<%= button_to 'Demo Data', new_patient_path(@patient), method: :get %>
=======

>>>>>>> 3c4df9c (button works)
<%= link_to 'Back', patients_path %>
<<<<<<< HEAD
=======
>>>>>>> Stashed changes
=======
=======
>>>>>>> 8b902d6 (merge conflicts fixed)
<%= button_to 'Demo Data', new_patient_path(@patient), method: :get %>
<%= link_to 'Back', patients_path %>
<<<<<<< HEAD
>>>>>>> Stashed changes
>>>>>>> 8b9ff17 (rebase)
=======
>>>>>>> 8b902d6 (merge conflicts fixed)
