<section class="hero is-small is-info">
  <div class="hero-body">
    <p class="title">
      <%= link_to patients_path, 'aria-label': 'Back to patient list' do%>
        <i class="fa fa-caret-left"></i>
      <% end %>
      <%= @patient.full_name %>
    </p>
  </div>
</section>
<p id="notice"><%= notice %></p>
<section class="section">
  <div class="container">
    <div class="content">
      <div class="level">
        <div class="level-left">
          <div class="is-grouped">
            <%= link_to 'Edit', edit_patient_path(@patient), class: 'button is-info is-light' %>
            <%= link_to 'Download Health Card', patient_health_card_path(@patient, format: 'smart-health-card'), class: 'button is-info is-light' %>
            <%= link_to 'Download PDF', patient_health_card_path(@patient, format: 'pdf'), id:'download-pdf-button', class: 'button is-info is-light' %>
            <%= link_to 'Health Card Details', patient_health_card_path(@patient), class: 'button is-info is-light' %>
          </div>
        </div>
      </div>
      <div class="block">
        <span class="has-text-weight-bold mr-2">Gender:</span><span><%= @patient.gender %></span>
      </div>
      <div class="block">
        <span class="has-text-weight-bold mr-2">Birth Date:</span><span><%= format_date(@patient.birth_date) %></span>
      </div>
      <div class="block">
        <span class="has-text-weight-bold mr-2">Phone:</span><span><%= number_to_phone(@patient.phone) %></span>
      </div>
      <div class="block">
        <span class="has-text-weight-bold mr-2">Email:</span><span><%= @patient.email %></span>
      </div>
      <div class="block">
        <span class="has-text-weight-bold mr-2">Address:</span><span><%= show_address(@patient) %></span>
      </div>
      <div class="level">
        <div class="level-left">
          <% if @patient.immunizations.present? %>
            <div class="level-item">
              <p class="title">Immunizations</p>
            </div>
          <% end %>
          <div class="level-item">
            <%= link_to 'Record Immunization', new_patient_immunization_path(@patient), class: 'button is-success' %>
          </div>
        </div>
      </div>
      <div class="tile is-ancestor">
        <% @patient.immunizations.each do |i| %>
          <div class="tile is-parent">
            <div class="tile is-child box">
              <div class="block">
                <span class="has-text-weight-bold"><%= i.vaccine.name %></span>
              </div>
              <div class="block">
                <span class="mr-2 has-text-weight-bold">Date:</span><span><%= format_date(i.occurrence) %></span>
              </div>
              <div class="block">
                <span class="mr-2 has-text-weight-bold">Lot:</span><span><%= i.lot_number %> </span>
              </div>
              <div class="block">
                <%= link_to 'Edit', edit_patient_immunization_path(@patient, i), class: 'button is-info is-light mr-2' %>
                <%= link_to 'Destroy', patient_immunization_path(@patient, i), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger is-outlined' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

      <div class="level">
        <div class="level-left">
          <% if @patient.lab_results.present? %>
            <div class="level-item">
              <p class="title">Lab Results</p>
            </div>
          <% end %>
          <div class="level-item">
            <%= link_to 'Record Lab Result', new_patient_lab_result_path(@patient), class: 'button is-success' %>
          </div>
        </div>
      </div>

    <div class="tile is-ancestor">
        <% @patient.lab_results.each do |i| %>
          <div class="tile is-parent">
            <div class="tile is-child box">
              <div class="block">
                <span class="has-text-weight-bold"><%= i.name %></span>
              </div>
              <div class="block">
                <span class="mr-2 has-text-weight-bold">Result:</span><span><%= i.result_name %></span>
              </div>
              <div class="block">
                <span class="mr-2 has-text-weight-bold">Effective Date:</span><span><%= format_date(i.effective) %></span>
              </div>
              <div class="block">
                <span class="mr-2 has-text-weight-bold">Status:</span><span><%= i.status %> </span>
              </div>
              <div class="block">
                <%= link_to 'Edit', edit_patient_lab_result_path(@patient, i), class: 'button is-info is-light mr-2' %>
                <%= link_to 'Destroy', patient_lab_result_path(@patient, i), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger is-outlined' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= render partial: 'qr_codes/chunks', object: @health_card.qr_codes %>
    <div id="qr-code"></div>
    <%= link_to 'Patient List', patients_path, class: 'button is-info' %>
  </div>
</section>

<script>
  {
    const downloadButtonId = 'download-pdf-button';
    const downloadButton = document.querySelector(`#${downloadButtonId}`);
    downloadButton.onclick = () => {
      // Disable elements on page after download button has been clicked
      const container = document.querySelector('.container');
      container.style['pointer-events'] = 'none';
      document.querySelectorAll('.button').forEach(b => {
        if (b.id !== downloadButtonId) b.setAttribute('disabled', true)
      });
    }
  }
</script>
