<section class="hero is-link">
  <div class="hero-body">
    <p class="title">Health Cards</p>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content is-medium">
      <p>Reference Implementation of SMART Health Cards Issuer & Verifier</p>
    </div>
  </div>
</section>

<section class="hero is-info is-small">
  <div class="hero-body">
    <p class="title">
      Create a Vaccine Credential
    </p>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child box notification is-info is-light">
          <p class="title">Enter Patient Information</p>
          <p class="subtitle">Manually enter patient demographics and immunization information into a form.</p>
          <a href="<%= new_patient_path %>" class="button is-info">New Patient</a>
          <a href="<%= patients_path %>" class="button is-info">Patient List</a>
        </div>
      </div>

      <div class="tile is-parent">
        <div class="tile is-child box notification">
          <p class="title">Upload a Patient Bundle</p>
          <p class="subtitle">Manually upload a FHIR Bundle containing Patient and Immunization resources.</p>
          <span class="button is-info" disabled>TODO</span>
        </div>
      </div>

      <div class="tile is-parent">
        <div class="tile is-child box notification">
          <p class="title">Use the FHIR API</p>
          <p class="subtitle">Instructions for using the FHIR <code>$health-cards-issue</code> Operation.</p>
          <span class="button is-info" disabled>TODO</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-success is-small">
  <div class="hero-body">
    <p class="title">
      Validate a Vaccine Credential
    </p>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child box notification">
          <p class="title">Upload a file</p>
          <p class="subtitle">Manually upload a downloaded credential.</p>
          <%= form_tag upload_health_cards_path, multipart: true, id: "health-card-upload" do %>
          <div class="field is-grouped">
            <p class="control">
            <div class="file has-name">
              <label class="file-label">
                <%= file_field_tag :health_card, class: 'file-input' %>
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fa fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Choose a file…
                  </span>
                </span>
                <span class="file-name">
                  No file uploaded
                </span>
              </label>
            </div>
            </p>
            <p class="control">
              <%= submit_tag 'Upload', class: 'button is-success ml-1', disabled: true, id: "upload-button" %>
            </p>
          </div>

          <% end %>
        </div>
      </div>

      <div class="tile is-parent">
        <div class="tile is-child box notification">
          <p class="title">Scan a QR code</p>
          <p class="subtitle">Use a camera to scan a credential in a QR code.</p>
          <a href="<%= scan_health_cards_path %>" class="button is-success" data-turbolinks="false">Scan</a>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const fileInput = document.querySelector('#health-card-upload input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#health-card-upload .file-name');
      fileName.textContent = fileInput.files[0].name;

      const uploadButton = document.querySelector('#upload-button');
      uploadButton.disabled = false;
    }
  }
</script>