<%= form_for([@patient, @immunization]) do |form| %>
  <% if immunization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(immunization.errors.count, "error") %> prohibited this immunization from being saved:</h2>

      <ul>
	<% immunization.errors.each do |error| %>
	  <li><%= error.full_message %></li>
	<% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vaccine %>
    <%= form.select :vaccine_id, options_from_collection_for_select(@vaccines, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :occurrence %>
    <%= form.datetime_select :occurrence %>
  </div>

  <div class="field">
    <%= form.label :lot_number %>
    <%= form.text_field :lot_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
