<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @immunization.patient %>
</p>

<p>
  <strong>Vaccine:</strong>
  <%= @immunization.vaccine %>
</p>

<p>
  <strong>Occurrence:</strong>
  <%= @immunization.occurrence %>
</p>

<p>
  <strong>Lot number:</strong>
  <%= @immunization.lot_number %>
</p>

<%= link_to 'Edit', edit_immunization_path(@immunization) %> |
<%= link_to 'Back', immunizations_path %>
