<html>

<p>
First Name: <%= given %>
<br/>
<br/>

Middle Initial: <%= mi %>
<br/>
<br/>

Last Name: <%= ln %>
<br/>
<br/>

Suffix: <%= suffix %>
<br/>
<br/>

Gender: <%= gender %>
<br/>
<br/>

Phone: <%=telecom%>
<br/>
<br/>

Email Address: <%= email %>
<br/>
<br/>

Date of Birth: <%= birthdate %>
<br/>
<br/>

</p>

</html>
